<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">
    <script>
      window.onload = function() {
      }
    </script>
  </head>
  <body>
    <select name="action" id="action" onchange="action_change()">
      <option disabled selected>Select Action</option>
      <option value="availability">Search Availability</option>
      <option id="student" value="student" hidden>Manage Students</option>
      <option id="teacher" value="teacher" hidden>Manage Teachers</option>
      <option id="cca" value="cca" hidden>Manage CCAs</option>
      <option id="class" value="class" hidden>Manage Classes</option>
      <option id="course" value="course" hidden>Manage Courses</option>
      <option id="account" value="account" hidden>Manage Account</option>
    </select>
    <input list="student_name_list">
    <datalist id="student_name_list">
      {% for i in data[0]|sort(attribute=0) %}
      <option value="{{ i[0] }}"></option>
      {% endfor %}
    </datalist>
  </body>
</html>