<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">
    <!-- <link href="../static/css/bootstrap.css" rel="stylesheet"> -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script>
      window.onload = function() {
        window.onkeydown = function(e) {
          if (e.keyCode === 13) {
            e.preventDefault();
            if (document.activeElement.id === "username") {
              document.getElementById("password").focus();
            } else {
              document.getElementById("login_form").submit();
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <div class="login_div">
      <form action="/loginprocess" method="POST" id="login_form" class="login_form" autocomplete="off">
        {% if resp == 0 %}
          <div class="col-12 py-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
        {% elif resp == 1 %}
          <div class="col-12 py-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control error_input" name="username" id="username">
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control error_input" name="password" id="password">
          </div>
          <span class="error_msg">Incorrect username or password.</span>
        {% elif resp == 2 %}
          <div class="col-12 pt-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control error_input" name="username" id="username">
          </div>
          <span class="error_msg">Please enter username.</span>
          <div class="col-12 pt-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
          </div>
        {% elif resp == 3 %}
          <div class="col-12 py-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control error_input" name="password" id="password">
          </div>
          <span class="error_msg">Please enter password.</span>
        {% else %}
          <div class="col-12 py-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control error_input" name="username" id="username">
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control error_input" name="password" id="password">
          </div>
          <span class="error_msg">Please enter username and password.</span>
        {% endif %}
        <div class="row">
          <div class="login_back" style="width: 50%; margin-top: 20px;">
            <button class="btn btn-primary" formaction="/" formnovalidate>Back</button>
          </div>
          <div class="login_submit" style="width: 50%; margin: 20px 0px;">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>