<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Webapp</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="../static/img/favicon.ico">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script>
      function delete_time(element) {
        var row = element.parentElement.parentElement;
        row.remove();
      }
    </script>
  </head>
  <body>
    <div class="availability_scroll_table search_availability">
      <table id="availability_table">
        <tr class="scroll_head">
          <th>Day</th>
          <th>Time</th>
          <th></th>
        </tr>
        {% for i in times %}
          <tr class="table_data_row">
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td><img src="../static/img/delete.png" alt="delete" class="select_icon" onclick="delete_time(this)"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <form action="/">
      <input type="submit" class="btn btn-secondary m-2" value="Back">
    </form>
  </body>
</html>